## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [5]:
import os
import numpy as np
import pandas as pd

In [8]:
# 設定 data_path
dir_data = 'D:/GitHub/ML100-Days/D2/data/'

In [10]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: D:/GitHub/ML100-Days/D2/data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [25]:
app_train.info()
print('Number of rows in train dataset: %s' %app_train.shape[0])
print('Number of columns in train dataset: %s' %app_train.shape[1])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB
Number of rows in train dataset: 307511
Number of columns in train dataset: 122
Number of rows in train dataset: 307511
Number of columns in train dataset: 122

#### 列出所有欄位

In [23]:
df=app_train
# 下面的两个方法没怎么搞懂
df.iteritems()# (col-index, Series) pairs
df.iterrows() # (row-index, Series) pairs
# example ... iterating over columns
num=1
for (name, series) in df.iteritems():
    print(str(num)+' Col name: ' + str(name))
    num+=1

1 Col name: SK_ID_CURR
2 Col name: TARGET
3 Col name: NAME_CONTRACT_TYPE
4 Col name: CODE_GENDER
5 Col name: FLAG_OWN_CAR
6 Col name: FLAG_OWN_REALTY
7 Col name: CNT_CHILDREN
8 Col name: AMT_INCOME_TOTAL
9 Col name: AMT_CREDIT
10 Col name: AMT_ANNUITY
11 Col name: AMT_GOODS_PRICE
12 Col name: NAME_TYPE_SUITE
13 Col name: NAME_INCOME_TYPE
14 Col name: NAME_EDUCATION_TYPE
15 Col name: NAME_FAMILY_STATUS
16 Col name: NAME_HOUSING_TYPE
17 Col name: REGION_POPULATION_RELATIVE
18 Col name: DAYS_BIRTH
19 Col name: DAYS_EMPLOYED
20 Col name: DAYS_REGISTRATION
21 Col name: DAYS_ID_PUBLISH
22 Col name: OWN_CAR_AGE
23 Col name: FLAG_MOBIL
24 Col name: FLAG_EMP_PHONE
25 Col name: FLAG_WORK_PHONE
26 Col name: FLAG_CONT_MOBILE
27 Col name: FLAG_PHONE
28 Col name: FLAG_EMAIL
29 Col name: OCCUPATION_TYPE
30 Col name: CNT_FAM_MEMBERS
31 Col name: REGION_RATING_CLIENT
32 Col name: REGION_RATING_CLIENT_W_CITY
33 Col name: WEEKDAY_APPR_PROCESS_START
34 Col name: HOUR_APPR_PROCESS_START
35 Col name: REG_REGION_NOT_LIVE_REGION
36 Col name: REG_REGION_NOT_WORK_REGION
37 Col name: LIVE_REGION_NOT_WORK_REGION
38 Col name: REG_CITY_NOT_LIVE_CITY
39 Col name: REG_CITY_NOT_WORK_CITY
40 Col name: LIVE_CITY_NOT_WORK_CITY
41 Col name: ORGANIZATION_TYPE
42 Col name: EXT_SOURCE_1
43 Col name: EXT_SOURCE_2
44 Col name: EXT_SOURCE_3
45 Col name: APARTMENTS_AVG
46 Col name: BASEMENTAREA_AVG
47 Col name: YEARS_BEGINEXPLUATATION_AVG
48 Col name: YEARS_BUILD_AVG
49 Col name: COMMONAREA_AVG
50 Col name: ELEVATORS_AVG
51 Col name: ENTRANCES_AVG
52 Col name: FLOORSMAX_AVG
53 Col name: FLOORSMIN_AVG
54 Col name: LANDAREA_AVG
55 Col name: LIVINGAPARTMENTS_AVG
56 Col name: LIVINGAREA_AVG
57 Col name: NONLIVINGAPARTMENTS_AVG
58 Col name: NONLIVINGAREA_AVG
59 Col name: APARTMENTS_MODE
60 Col name: BASEMENTAREA_MODE
61 Col name: YEARS_BEGINEXPLUATATION_MODE
62 Col name: YEARS_BUILD_MODE
63 Col name: COMMONAREA_MODE
64 Col name: ELEVATORS_MODE
65 Col name: ENTRANCES_MODE
66 Col name: FLOORSMAX_MODE
67 Col name: FLOORSMIN_MODE
68 Col name: LANDAREA_MODE
69 Col name: LIVINGAPARTMENTS_MODE
70 Col name: LIVINGAREA_MODE
71 Col name: NONLIVINGAPARTMENTS_MODE
72 Col name: NONLIVINGAREA_MODE
73 Col name: APARTMENTS_MEDI
74 Col name: BASEMENTAREA_MEDI
75 Col name: YEARS_BEGINEXPLUATATION_MEDI
76 Col name: YEARS_BUILD_MEDI
77 Col name: COMMONAREA_MEDI
78 Col name: ELEVATORS_MEDI
79 Col name: ENTRANCES_MEDI
80 Col name: FLOORSMAX_MEDI
81 Col name: FLOORSMIN_MEDI
82 Col name: LANDAREA_MEDI
83 Col name: LIVINGAPARTMENTS_MEDI
84 Col name: LIVINGAREA_MEDI
85 Col name: NONLIVINGAPARTMENTS_MEDI
86 Col name: NONLIVINGAREA_MEDI
87 Col name: FONDKAPREMONT_MODE
88 Col name: HOUSETYPE_MODE
89 Col name: TOTALAREA_MODE
90 Col name: WALLSMATERIAL_MODE
91 Col name: EMERGENCYSTATE_MODE
92 Col name: OBS_30_CNT_SOCIAL_CIRCLE
93 Col name: DEF_30_CNT_SOCIAL_CIRCLE
94 Col name: OBS_60_CNT_SOCIAL_CIRCLE
95 Col name: DEF_60_CNT_SOCIAL_CIRCLE
96 Col name: DAYS_LAST_PHONE_CHANGE
97 Col name: FLAG_DOCUMENT_2
98 Col name: FLAG_DOCUMENT_3
99 Col name: FLAG_DOCUMENT_4
100 Col name: FLAG_DOCUMENT_5
101 Col name: FLAG_DOCUMENT_6
102 Col name: FLAG_DOCUMENT_7
103 Col name: FLAG_DOCUMENT_8
104 Col name: FLAG_DOCUMENT_9
105 Col name: FLAG_DOCUMENT_10
106 Col name: FLAG_DOCUMENT_11
107 Col name: FLAG_DOCUMENT_12
108 Col name: FLAG_DOCUMENT_13
109 Col name: FLAG_DOCUMENT_14
110 Col name: FLAG_DOCUMENT_15
111 Col name: FLAG_DOCUMENT_16
112 Col name: FLAG_DOCUMENT_17
113 Col name: FLAG_DOCUMENT_18
114 Col name: FLAG_DOCUMENT_19
115 Col name: FLAG_DOCUMENT_20
116 Col name: FLAG_DOCUMENT_21
117 Col name: AMT_REQ_CREDIT_BUREAU_HOUR
118 Col name: AMT_REQ_CREDIT_BUREAU_DAY
119 Col name: AMT_REQ_CREDIT_BUREAU_WEEK
120 Col name: AMT_REQ_CREDIT_BUREAU_MON
121 Col name: AMT_REQ_CREDIT_BUREAU_QRT
122 Col name: AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [27]:
app_train.loc[100:110, ['NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS']]

,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS
100,Unaccompanied,Working,Secondary / secondary special,Married
101,Unaccompanied,Working,Higher education,Married
102,Unaccompanied,Working,Secondary / secondary special,Married
103,Unaccompanied,Commercial associate,Higher education,Married
104,Unaccompanied,Working,Secondary / secondary special,Widow
105,Unaccompanied,Pensioner,Secondary / secondary special,Widow
106,Unaccompanied,Pensioner,Secondary / secondary special,Married
107,Family,Working,Secondary / secondary special,Married
108,Unaccompanied,Pensioner,Secondary / secondary special,Married
109,Unaccompanied,Working,Higher education,Married
110,Unaccompanied,Commercial associate,Incomplete higher,Separated

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子